body{
    background-color: #0099ff;
}
header{
    text-align: center;
    font-size: 100px;
    font-family: 'Fira Sans', sans-serif;
    word-spacing: 10px;
    color:crimson;
}
nav{
    background-color: crimson;
    text-align: right;
    height: 200px;
    font-size: 50px;
    padding: 50px 50px 50px 50px;
    border: 5px solid #002e4d;
    margin-bottom: 15px;
}
nav li{
    padding: 5px;
    padding-bottom: 5px;
    display: block;
}
nav a:link{
    color: cyan;
    text-decoration: none;
}
a:visited{
    color: cyan;
}
section{
    background-color: #F05C79;
    border: 5px solid #002e4d;
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
    color: #002e4d;
    padding-left: 15px;
}
aside{
    color: #002e4d;
    padding-left: 15px;
    border: 5px solid #002e4d;
    background-color: #F05C79;
    padding-right: 15px;
}
.Commercials{
    color: #002e4d;
    margin-top: 15px;
    border: 5px solid #002e4d;
    background-color: #F05C79;
    margin-bottom: 15px;
    padding-left: 15px;
}
.fa-instagram {
    background: #125688;
    color: white;
}
footer{
    clear: both;
    position: sticky;
    bottom: 0;
    height: 75px;
    text-align: right;
    padding-right: 15px;
    padding-top: 5px;
    color:cyan;
    background-color:crimson;
    background-image: linear-gradient(to left, crimson,#F05C79, #0099ff, #F05C79, crimson);
}
footer a:link{
    color:cyan;
    text-decoration:none;
}